node_modules

# Output
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

npm-debug.log*
.vscode/*

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.*
